* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  margin-left: 8.75rem;
  margin-right: 8.75rem;
  background-color: #f7f7f7;
}
