* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  background-color: #f7f7f7;
  margin: 0 auto;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
/* Navbar Styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  color: white;
  position: relative;
  height: 62px;
}

.school {
  display: flex;
  align-items: center;
}
.school-font {
  color: black;
  font-size: 2 rem;
  font-weight: bold;
}

.school img {
  width: 50px;
  margin-right: 10px;
}
ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar ul {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar li:nth-child(1) a {
  color: orange;
}
.navbar li:nth-child(2) a {
  color: #01acfd;
}
.navbar li:nth-child(3) a {
  color: #05d4df;
}
.navbar li:nth-child(4) a {
  color: #5d58ef;
}

/* Contact Button */
.contact-desktop {
  background-color: #fea301;
  font-weight: 500;
  font-size: 1.25rem;
  color: white;
  border: none;
  padding: 0.63rem 0.63rem;
  border-radius: 0.75rem;
  width: 12.3rem;
  height: 3rem;
  cursor: pointer;
}
/* 3 bar icon menu */

.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;

  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-icon-div1,
.menu-icon-div2,
.menu-icon-div3 {
  width: 100%;
  height: 0.3rem;
  background-color: black;
  border-radius: 2px;
}
.menu-icon-div2,
.menu-icon-div3 {
  margin-top: 0.5rem;
}

/* banner section */

.banner-section {
  height: 575px;
  margin-top: 20px;
  display: flex;
  gap: 50px;
}
.banner-content {
  max-width: 640px;

  height: 331px;
  margin-top: 122px;
  margin-bottom: 122px;
  justify-content: center;
  gap: 1rem;
}
.banner-pic {
  height: 575px;
  width: 468.61px;
}
.banner-text-large {
  font-size: 3.3rem;
  font-weight: bold;
  height: 183px;
}
.l-text1 {
  color: #fea301;
}
.l-text2 {
  color: #111111;
}
.l-text3 {
  color: #01acfd;
}
.banner-text-small {
  font-size: 1.3rem;
  height: 50px;
  margin-top: 24px;
}

.enroll-btn {
  background-color: #111111;
  font-weight: bold;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: white;
  border: none;
  padding: 0.63rem 0.63rem;
  border-radius: 0.75rem;
  width: 12.3rem;
  height: 3rem;
  cursor: pointer;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  body {
    margin-left: 0;
    margin-right: 0;
    max-width: 24.375rem;
  }

  /* navbar responsive */
  .navbar {
    border-bottom: 2px solid orange;
    padding: 1rem 1rem;
    display: flex;
  }
  /* 3 bar Menu */
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .school-font {
    display: none;
  }
  .contact-desktop {
    display: none;
  }

  /* banner responsive */
  .banner-section {
    border: 1px solid black;
    /* margin-top: 3.88rem; */
    height: 45.31rem;
    max-width: 22.31 rem;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    text-align: center;
    padding: 1.25 rem 0.5rem;
  }
  .banner-content {
    margin-top: 0;
    margin-bottom: 0;
  }
  .banner-text-large {
    font-size: 2rem;
    height: 7.5rem;
  }
  .banner-text-small {
    font-size: 0.7 rem;
    margin-top: 1.25rem;
  }

  .banner-pic {
    margin-top: 1.25rem;
    height: 25.8rem;
    width: 21rem;
  }
}
